html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: tomato;
    display: flex;
    /*border: 0.25rem solid brown;*/
}

header p{
    float: left;
    font-style: italic;
    display: inline;
    font-size: 3rem;
    padding: 0rem 1.25rem; 
    /*text-shadow: -0.25rem 0.1rem rgba(0, 0, 0, 0.3);*/
}

header div:hover{

    text-shadow: -0.125rem 0.05rem rgba(0, 0, 0, 0.3);
}

header ul{
    float: left;
    font-size: 1.25rem;
    display: inline;
    padding: 1.5rem 1.25rem;
    list-style-type: none;
}

section{
}

.landing-text{
    font-size: 1.2rem;
    text-align: left;
    padding: 6rem 3rem 6rem 5rem;
    margin: 3rem auto;
    display: inline-flex;
}

.servicios{
    margin: 3rem auto;
    padding: 6rem 3rem 6rem 5rem;
}

.serviciosBox{
    background-color: #f0ff8f;
    width: 300px;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 2rem auto;

}

.servicios p,
.servicios h3{
    margin: 0;
    padding: 0;
}


